<div class="input-container">
  <label class="input-label">{{label}}</label>
  <input
    id="{{id}}"
    type="{{type}}"
    name="{{name}}"
    value="{{value}}"
    placeholder="{{placeholder}}"
    class="hidden-border input"
  />
</div>