<div class="profile-row">
  <label class="row-label">{{label}}</label>
  <input
    class="hidden-border row-input"
    id="{{id}}"
    type="{{#if type}}{{type}}{{else}}text{{/if}}"
    placeholder="{{placeholder}}"
    value="{{value}}"
    name="{{name}}"
    {{#if (eq isDraft false) }}readonly{{/if}}
  />
</div>
