<div class="avatar-block">
  <img class="avatar" alt="аватар {{name}}" src="{{#if avatarUrl }}{{avatarUrl}}{{else}}src/assets/defaultAvatar.svg{{/if}}"  />
  <input type="hidden" name="avatar"/>
  {{#if isDraft }}{{else}}<div class="avatar-title">{{name}}</div>{{/if}}
</div>
